<div id="div1" class="col-md-5 mx-auto">
    <div id="div" class="card card-body text-center">
        <h1 class="p-4 text-light" >Bienvenido a tusPelis.com</h1>
        <img src="/img/peli.jpg" alt="">
    </div>
</div>
